<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organization XIII</title>
  </head>
  <body>
    <h1>Who Are You?</h1>
    <form action="/submit" method="POST">
      <strong><label for="firstName">First Name: </label></strong>
      <input type="text" name="firstName" required />

      <strong><label for="lastName">Last Name: </label></strong>
      <input type="text" name="lastName" required />

      <strong><label for="memberNumber">Org No.:</label></strong>
      <input type="number" name="memberNumber" required />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
