<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members of Organization XIII</title>
  </head>
  <body>
    <h1>Welcome <%= newMember.memberNumber %></h1>

    <h2><%= newMember.firstName %> <%= newMember.lastName %></h2>
  </body>
</html>
